set system host-name 'rtr-hq'
set interfaces ethernet eth0 description '---mgmt---'
set interfaces ethernet eth1 description '---wan---'
set interfaces ethernet eth1 address 'dhcp'
set interfaces ethernet eth2 description '---lan---'
set interfaces ethernet eth2 address 'dhcp'
set protocols ospf area 0 network '192.168.0.0/16'
set protocols ospf 'default-information'
set protocols ospf 'log-adjacency-changes'
set protocols ospf redistribute connected metric-type '2'
